@import "./vendors/mixins";
@import "./vendors/variables";


*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: $main-font !important;
  background-color: $main-gray !important;
  color: $bold-gray !important;
}

.container {
  margin: 0 auto;
  width: calc(100% - 100px);
}

main {
  padding-top: 55px;

  @media(max-width: 767px) {
    padding-top: 40px;
  }
}

.page-container {
  max-width: 1200px;
  margin: 0 auto;
  width: calc(100% - 30px);

  @media(max-width: 991px) {
    max-width: 768px;
  }

  @media(max-width: 767px) {
    max-width: 576px;
  }
}