@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --gray-color: #E5E5E5;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

ul,ol{
    list-style: none;
    margin: 0 !important;
}

body {
    font-family: 'Roboto', sans-serif;
}

.header {
    background: var(--gray-color) !important;
}

.logo {
    width: 100%;
    height: 40px;
}

.list-side ul {
    display: flex;
    gap: 15px;
}
.login-btn{
    border: none;
    background: #fff;
    font-weight: 500;
    padding: 5px 10px;
}
ul>li:first-child>a{
    color: #000 !important;
}
ul li a{
    color: #959BA4;
}

.button-side{
    display: flex;
    justify-content: center;
    align-items: center;
}
.content{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.text{
    color: #9f9f9f;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input{
    border: none;
}
input:focus{
    border: none;
}
input:focus-within{
    border: none;
}
.out-buttons-container,.insert-buttons-container{
    display: flex;
}
.insert-input,.out-input{
    width: -webkit-fill-avaible;
}
.insert-buttons,.out-buttons{
    border: 1px solid var(--gray-color);
    padding: 8px 16px;
}
.active-insert,.active-out{
    background: #833AE0;
    color: white;
}
.out-pay, .insert-pay{
    border: 1px solid var(--gray-color);
    margin-top:  24px;
    padding:  8px 16px;
}
.out_value, .firstVal{
    font-weight: 700;
    font-size: 36px;
}
.notification-out, .notification-insert{
    font-weight: 400;
    font-size: 12px;
    color: #c6c6c6;
}

@media screen and (max-width:1181px) {
    .list-side{
        display: none !important;
    }
}